<div class="container section mt-2 mb-2">
  <div class="reading-width--inline md-down:px-gutter rte mx-auto">
    {{ collection.description }}
  </div>
</div>

{% schema %}
{
  "name": "Collection Description",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Collection Description",
      "settings": {}
    }
  ]
}
{% endschema %}
